body{
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
 }

a {
    color:white;
    text-decoration: none;
}
h2 {
    color:white)
}
img {
width: 200px;
height: 180px;
border-radius: 50%;
border: 5px solid rgba(0, 157, 255, 0.752);

}

.center {
    text-align: center;
}

h1 {
    color:rgba(0, 157, 255, 0.752);
}
.container {
    padding: 0px 50px;
}
nav a:hover {
    color:rgba(0, 157, 255, 0.752);
}

